<ul class="operations" >
   <li class="{{httpMethod}} operation" id="{{resourceName}}_{{nickname}}_{{httpMethod}}_{{number}}">
      <div class="heading">
         <h3>
            <a href="#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}" class="toggleOperation">
               <span class="http_method label">{{httpMethod}}</span>
            </a>
            <a href="#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}" class="toggleOperation">
               <span class="path">{{path}}</span>
            </a>
         </h3>
         <ul class="options">
            <li>
               <a href="#!/{{resourceName}}/{{nickname}}_{{httpMethod}}_{{number}}" class="toggleOperation">{{{summary}}}</a>
            </li>
         </ul>
      </div>
      <div class="content" id="{{resourceName}}_{{nickname}}_{{httpMethod}}_{{number}}_content" style="display:none">
         {{#if notes}}
            <h4>Implementation Notes</h4>
            <p>{{{notes}}}</p>
         {{/if}}
         {{#if responseClass}}
            <h4>Response Class</h4>
            <p><span class="model-signature"></span></p>
            <br>
            <div class="content-type"></div>
         {{/if}}
         <form accept-charset="UTF-8" class="sandbox">
            <div style="margin:0;padding:0;display:inline"></div>
            {{#if parameters}}
               <h4>Parameters</h4>
               <table class="table table-hover">
                  <thead>
                  <tr>
                     <th>Parameter</th>
                     <th>Value</th>
                     <th>Description</th>
                     <th>Data Type</th>
                  </tr>
                  </thead>
                  <tbody class="operation-params"></tbody>
               </table>
            {{/if}}
            {{#if errorResponses}}
               <div style="margin:0;padding:0;display:inline"></div>
               <h4>Error Status Codes</h4>
               <table class="table table-hover">
                  <thead>
                  <tr>
                     <th>HTTP Status Code</th>
                     <th>Reason</th>
                  </tr>
                  </thead>
                  <tbody class="operation-status"></tbody>
               </table>
            {{/if}}
            {{#if isReadOnly}}
            {{else}}
               <div class="sandbox_header">
                  <input class="submit btn btn-info" name="commit" type="button" value="Try it out!" />
                  <a href="#" class="response_hider btn btn-link" style="display:none">Hide Response</a>
                  <div class="response_throbber" style="display:none"></div>
               </div>
            {{/if}}
         </form>
         <div class="response" style="display:none">
            <h4>Request URL</h4>
            <div class="block request_url"></div>
            <h4>Response Body</h4>
            <div class="block response_body"></div>
            <h4>Response Code</h4>
            <div class="block response_code"></div>
            <h4>Response Headers</h4>
            <div class="block response_headers"></div>
         </div>
      </div>
   </li>
</ul>